<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ignite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon52"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon5"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllEventSlider"

            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Brochure"
            android:label="@string/Brochure"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".OpentoAll"
            android:label="Open to All"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Bus"
            android:label="@string/bus"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".logo"
            android:label="@string/logo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DeveloperActivity"
            android:label="@string/dev"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
                    </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>